{template "content","header"}

<!-- 艺术人生列表页开始 -->
<script type="text/javascript">
$("title").html('艺术人生');
</script>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}hy/css/about.css">
<div id='cont' class='center2 art'>

<!-- 列表页头部开始 -->
<div class='ar_title page_title'>
	<h3><i></i></h3>
</div>
<div class='music_link l'>
	
	<i class='l'></i>
	<i class='l'></i>
</div>
<div class='music_link r'>
	
	<i class='l'></i>
	<i class='l'></i>
</div>
<div id="header"></div>
	
<!-- 列表页头部结束 -->
<div class='arcontent content2 l'>
	<div class='ar_t l'>
	<h3 class='arlist_h'></h3>
	<!-- 推荐明星开始 -->
		<div class='supstar l'>
			<!-- 缩略图 -->
			<img src="{$thumb}" class='l thumb' />
			<!-- 信息开始 -->
			<div class='message l'>
				<!-- 姓名 -->
				<h2>{$title}</h2>
				<div class='data'>
					 <p>{$content}</p>
				</div>
			</div>
			<!--  信息结束 -->
		</div>
	</div>
	<!-- 推荐明星结束 -->
	<!-- 明星列表开始 -->
		<div class='star_list' border='0'>
			<iframe frameborder="no"  border='0' src="{APP_PATH}/index.php?m=artistic&c=index&a=list_page"></iframe>
		</div>
	<!--搜索框-->
	<div class='c'></div>
		<div class='search'>
			<form action='{APP_PATH}/index.php?m=artistic&c=index&a=search' type='post'>
				<span>人物搜索</span>
				<input tpye='text' name='name' />
				<input type='submit' value='' />
			</form>
		</div>
	<!--搜索框-->			
	<!-- 明星列表结束 -->

</div>




</div>
<div class='c'></div>
<!-- 艺术人生列表页结束 -->
{template "content","footer"}




