
<title>{$title}-{if $_GET[id]==0}内地{elseif $_GET[id]==1}港台{elseif $_GET[id]==2}{/if}榜{if $_GET['type']==w}周{elseif $_GET['type']=='m'}月{/if}榜</title>

{template 'content','header'}

  <style type="text/css">
 .list_title{
	width: 780px;
	margin: 0 auto;
	margin-top: 25px;
	line-height: 42px;
	text-align: center;
} 
	.week h1,.week .week_t{
	*width: 300px;
	}

	td{text-align: center;}
	.st{
		float: right;
		background-repeat: no-repeat;
		/*padding-right: 10px;*/
		margin-right: 5px;
	}
.week_g h1{
	color: #e45757;
}
.week_m h1{
	color: #b078fe;
}
.week table{
	width:363px ;
}
.week tbody td{
	border: 0;
background: #fcfbf8;
}
.week thead td{
	background: url({CSS_PATH}hy/images/bdhg_list_tbg.png);
	background-repeat:repeat-x;
	padding: 8px 0;

}
.week tbody .tr2 td{
	background-color: #f2f1ec;
	border-right: 
}
.week tbody .td1{
	width: 35px;
}
.week ul{
	float: left;
	background-color: #fcfbf8;
	border-right: solid 1px #feaa7c;
}
.week .u2{
		border-right:0;
		border-left: solid 1px #feaa7c;
}
.border{
	margin: 10px 0;
	width: 363px;
}
.week{
	width: 736px;
	margin: 0 auto;

}
.td5{
	padding: 0;
}
.st{
	margin-right: 15px;
}
.week .week_m thead td,.week .week_g thead td{
	color:#ff5a00;
}
 </style>
</div>
<div class="center2">

	<h3 class="page_title list_title">
		{$title} 至尊{if $_GET[id]==0}内地{elseif $_GET[id]==1}港台{elseif $_GET[id]==2}{/if}{if $_GET['type']==w}周{elseif $_GET['type']=='m'}月{/if}榜
	</h3>
 <div class='week'>

 	
	<div class="border l">
 		<ul class='week_n {php if((($n-1)/10)%2>0)echo  "u2";}'>
	        <table cellspacing="0" class='l'>
	                <thead>
	                    <tr>
	                    	<td class='td1'>名次</td>
	                    	<td class='td2'>歌曲</td>
	                    	<td class='td3'>歌手</td>
	                    	<td class='td4'>票数</td>
	                    	<td class='td5'>试听</td>
	                    </tr>
	               </thead>
	               <tbody>
	               	{loop $datas $v}
					{php $count=count($datas)}
						{if ($n-1)%10==0 && $n!==1}	
					</tbody>
					</table>
					</ul>
				</div>
				
	<div class="border l">	
				<ul class='week_n {php if((($n-1)/10)%2>0)echo  "u2";}'>
	        <table cellspacing="0" class='l'>
	                <thead>
	                    <tr>
	                    	<td class='td1'>名次</td>
	                    	<td class='td2'>歌曲</td>
	                    	<td class='td3'>歌手</td>
	                    	<td class='td4'>票数</td>
	                    	<td class='td5'>试听</td>
	                    </tr>
	               </thead>
	               <tbody>
	               		    <tr {if $n%2==1} class='tr2' {/if}>
	                    	<td class='td1'><span class='one' style='color:#ff6600;font-w:bold;'>{$n}</span></td>
	                    	<td class='td2'>{$v[music]}</td>
	                    	<td class='td3'>{$v[singer]}</td>
	                    	<td class='td4'>{$v[point]}</td>
	                    	<td class='td5'><a href='{APP_PATH}index.php?m=music&c=index&a=mp3&id={$v[mid]}' class='st'></a></td>
	                    </tr>
	                 {else}   
	               		    <tr {if $n%2==1} class='tr2' {/if}>
	                    	<td class='td1'><span class='one' style='color:#ff6600;font-w:bold;'>{$n}</span></td>
	                    	<td class='td2'>{$v[music]}</td>
	                    	<td class='td3'>{$v[singer]}</td>
	                    	<td class='td4'>{$v[point]}</td>
	                    	<td class='td5'><a href='{APP_PATH}index.php?m=music&c=index&a=mp3&id={$v[mid]}' class='st'></a></td>
	                    </tr>

	                 {/if}
	                   {/loop}
	                </tbody>
	        </table>
	    </ul>         
	</div>    

	
<div class="c"></div>
</div>
</div>
{template 'content','footer'}