<title>{$singer}—{$title}</title>
{template "content","header"}
<script type="text/javascript" src='{CSS_PATH}hy/js/search.js'></script>
<link rel="stylesheet" href="{CSS_PATH}hy/css/about.css">
<script type="text/javascript" src="{CSS_PATH}hy/js/swfobject.js"></script>
<div id='new_music' class='center2 art new_music list_once'>

<!-- 歌曲页头部开始 -->
<div class='mp3_title page_title'>
  <h3 style='font-size:14px'>{$singer}-{$title}</h3>
</div>
<div class='music_link l'>
  <i class='l'></i>
  <i class='l'></i>
</div>
<div class='music_link r'>
  
  <i class='l'></i>
  <i class='l'></i>
</div>
<!-- 歌曲内容 -->
<div class="center2 mp3_content l">
	<div class="mp3">
		<!-- 歌曲信息 -->
		<div class="mp3_message l">
			<div class="mp3_l l" style='width:420px'>
				<!-- 加入收藏 -->
				<p class="collect">加入收藏</p>
				<div class="c"></div>
				<div class="messages">
					<!-- mp3播放器 -->
					<div class="player">							
						<object type="application/x-shockwave-flash" data="{CSS_PATH}hy/player/dewplayer-vol.swf?mp3={$mUrl}" width="240" height="20" id="dewplayer-vol">
							<param name="wmode" value="transparent">
							<param name="movie" value="{CSS_PATH}hy/player/dewplayer-vol.swf?mp3={$mUrl}">
						</object>
					</div>

					<ul>	

						<li>作词：{$witer}</li>
						<li>作曲：{$comper}</li>
						<li>专辑：{$spname}</li>
						<li>唱片公司：{$rcname}</li>
					</ul>

				</div>

			</div>
			<!-- 歌手缩略图 -->
			<style type="text/css">
		.mp3_content .mp3_r .thumb img{
				width: auto;
				height: auto;
				max-height: 248px;
				max-width: 248px;
			}

			</style>
			<div class="mp3_r l">
					<div class="thumb l"><img src='{$photo}' /></div>
					<img class='l' src='{CSS_PATH}hy/images/singer_thumb_bg.png' />
			</div>
		</div>
		<div class="c"></div>
		<div class="lyric">
			<h5>	
				歌曲信息
			</h5>
		<div class="lyrics">
			
					{if $content}{$content}{else}还没歌词？快联系我们！{/if}
			</div>
		</div>
	</div>
</div>
</div>
<div class='c'></div>
{template "content","footer"}
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
<script type='text/JavaScript'>
		$(".collect").click(function(){
			$.post(
					"{APP_PATH}index.php?m=music&c=index&a=collect",
					{id:"{$_GET[id]}"},
					function(statu){
						switch(parseInt(statu)){
							case 1:
							alert('成功加入收藏夹');
							break;
							case -1:
							alert("尚未请登录");
							location.href="{APP_PATH}/index.php?m=member&c=index&a=login";
							break;
							case -2:
							alert("已经在您的收藏夹中");
							break;
							default:
							alert(statu);
							break;	
						}
					}


				)


		})



</script>