{template "content","header"}
<link rel="stylesheet" type="text/css" href="{CSS_PATH}hy/css/news.css">
<!--main-->
<div class="main center2"id='friend'>
    <!-- 合作联盟 -->
	<div class="col-left">
            <div class='media'>
            <h2 class='me_title'></h2>
        	{php $j=1;}
        	{loop subcat($catid) $v}
        	{php if($v['type']!=0) continue;}

            		<!-- <h5>{$v[catname]}</h5> -->
                    <div class='medias'>
                         <div class='medias_auto'>
                        {pc:content action="lists" catid="$v[catid]" num="5" order="id DESC"}
                       
        					{loop $data $v}
        						<span >{$v[title]}</span>
        					{/loop}
                      
        				{/pc}
                        </div>
                    </div>

                    <!-- <div class='morem r'></div> -->
                    <div class='c'></div>
            {if $j%2==0}<div class="bk10"></div>{/if}
    	   {$j++}
    	   {/loop}
           </div>
</div>

    <div class="col-left">
      <div class='school'>
         <h2 class='sc_title'></h2>
         <div class='medias'>
                <div class='medias_auto'>
                {pc:content action="lists" catid="$v[catid]" num="5" order="id DESC"}
                           
                                {loop $data $v}
                                      <span>{$v[title]}</span>
                                {/loop}
                            

                {/pc}
                </div>
          </div>  
      </div>
    </div>
 </div> 
  <!--高校联盟-->

</div>
<script type="text/javascript">
  function ChannelSlide(Name,Class){
  	$(Name+' ul.photo li').sGallery({
  		titleObj:Name+' div.title p',
  		thumbObj:Name+' .thumb li',
  		thumbNowClass:Class
  	});
  }
  new ChannelSlide(".channel-slide","on",311,260);
  $(function(){
  $(".morem").on("click",function(){
      $(".focus").css("height",42)
       $(this).prev(".medias").css("height",$(this).prev(".medias").find(".medias_auto").height());
       $(this).prev(".medias").addClass("focus");

  })
  })

 </script>



</script>
{template "content","footer"}