<!-- 底部开始 -->
<div class="footer" id="footer">
	<!-- 底部第一部分开始 -->
	<div class='footer_t'>
		<div class='center2'>
			<div class='footer_t_l'>
				{pc:content  action="lists"  catid="64" order="updatetime desc" num="1" return="data"  moreinfo="1"}
				{loop $data $v}
				<a href='' class='foot_logo'></a>
				<p>联系电话：{$v[callphone]}</p>
				<p>新闻发布：{$v[new]}</p>
				<p>内容合作：{$v[coop]}</p>
				<p>市场合作：{$v[marke]}</p>
				{/loop}
				{/pc}
			</div>
			<div class='footer_t_r'>
				<h3>合作伙伴</h3>
				<div class='firend_link'>
			{pc:link  action="type_list" siteid="$siteid" order="listorder DESC"  return="dat"}

					{loop $dat $v}
			              <span >{$v[name]}</span>
			              {if $n%5==0}<br/>{/if}
					{/loop}
				{/pc}
				</div>
			</div>
		</div>
	</div>
	<div class='footer_b'>
		<div class='center2'>
			<p class='live_us l'></p>
			<p class='abuto_us r'>© 2007 - 2013 北京红色春天文化有限公司   京网文[2011]0012-005号    京ICP备08103200号-2 </p>

		</div>
	</div>

<div class='c'></div>
<!-- <p class="info">
{pc:content action="category" catid="1" num="15" siteid="$siteid" order="listorder ASC"}
{loop $data $r}
<a href="{$r[url]}" target="_blank">{$r[catname]}</a> |  
{/loop}
{/pc}
<a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=15" target="_blank">友情链接</a>
<br />
Powered by <strong><a href="http://www.phpcms.cn" target="_blank"></em> &copy; 2011 <img src="{IMG_PATH}copyright.gif"/>{tjcode()}{php echo runhook('glogal_footer')}
</p> -->
</div>
<script type="text/javascript">
$(function(){
	$(".picbig").each(function(i){
		var cur = $(this).find('.img-wrap').eq(0);
		var w = cur.width();
		var h = cur.height();
	   $(this).find('.img-wrap img').LoadImage(true, w, h,'{IMG_PATH}msg_img/loading.gif');
	});
	if(parseInt($(".footer_t_l").height())>parseInt($(".footer_t_r").height())){
		var hei=parseInt($(".footer_t_l").height());
	}else{
		var hei=parseInt($(".footer_t_r").height());
	}
	$(".footer_t").css('height',hei)
})
</script>
</body>
</html>