
{template "content","header"}
<!--首页页面显示开始-->
<div class='main'>
	
    <!-- 首页上部分开始 -->
    <div class='center2 main-top'>
        <!-- 幻灯片开始 -->
        <div class='h_images l'>  
            <div class='imgs'>
	                <img src='{CSS_PATH}hy/images/zw1.png' />
	                <img src='{CSS_PATH}hy/images/zw1.png' />
	                <img src='{CSS_PATH}hy/images/zw1.png' />
	                <img src='{CSS_PATH}hy/images/zw1.png' />
	                <img src='{CSS_PATH}hy/images/zw1.png' />
	                <img src='{CSS_PATH}hy/images/zw1.png' />
            </div>
            <div class='zz'></div>
            <ul class='h_num'>
                <li>6</li>
                <li>5</li>
                <li class='lion'>4</li>
                <li>3</li>
                <li>2</li>
                <li>1</li>
            </ul>

        </div>
        <!-- 幻灯片结束 -->
        <!-- 绝对好声音开始 -->
        <div class='good_sound l'>
            <div class='good_h'></div>
            <ul class='classes l'>
                <li class='l good_l1'>
               	{pc:content  action="lists"  catid="26" order="listorder asc,updatetime desc" num="3"  return="data" where="bestpost = 1 and catid=26" moreinfo='1'  }
               	{php $keys=array_keys($data)}
                <img src='{$data[$keys[0]][thumb]}' class='l'/> 
                <ul class='l'>
                    <div class='good_h2'></div>
                    <table>
                
					{loop $data $v}
                        <tr thumb='{$v["thumb"]}'>
                           <td class='good_t1'>{$v['title']}</td> 
                           <td class='good_t2'>{$v['singer']}</td>
                           <td class='good_t3'><a target='_blank' href='{APP_PATH}index.php?m=music&c=index&a=mp3&id={$v[id]}'><b class='st'></b></a></td>
                        </tr>
					{/loop}
				{/pc}                                 
                    </table>
                </ul>
                </li>
                <div class='c'></div>
                 <li class='l  good_l2'>
                {pc:content  action="lists"  catid="27" order="listorder asc,updatetime desc" num="3"  return="data" where="bestpost = 1  and catid=27" moreinfo='1'  } 	
                               	{php $keys=array_keys($data)}
                <img src='{$data[$keys[0]][thumb]}' class='l'/> 
                <ul class='l'>
                    <div class='good_h3'></div>
                    <table>
                   
					{loop $data $v}
                        <tr thumb='{$v["thumb"]}'>
                           
                           <td class='good_t1'>{$v['title']}</td> 
                           <td class='good_t2'>{$v['singer']}</td>
                           <td class='good_t3'><a target='_blank' href='{APP_PATH}index.php?m=music&c=index&a=mp3&id={$v[id]}'><b class='st'></b></a></td>
                        </tr>
					{/loop}
				{/pc}           
                    </table>
                </ul>

                </li>
                <div class='c'></div>
                <li class='l good_l3'>
                {pc:content  action="lists"  catid="28" order="listorder asc,updatetime desc" num="3"  return="data" where="bestpost = 1  and catid=28" moreinfo='1'  } 	
                {php $keys=array_keys($data)}
                <img src='{$data[$keys[0]][thumb]}' class='l'/>
                <ul class='l'>
                    <div class='good_h4'></div>
                    <table>

					{loop $data $v}
                        <tr>
                           <td class='good_t1'>{$v['title']}</td> 
                           <td class='good_t2'>{$v['singer']}</td>
                           <td class='good_t3'><a target='_blank' href='{APP_PATH}index.php?m=music&c=index&a=mp3&id={$v[id]}'><b class='st'></b></a></td>
                        </tr>
					{/loop}
				{/pc}          
                    </table>
                </ul>

                </li>
            </ul>
        </div>
        <!-- 绝对好声音结束 -->
        <div class='c'></div> 
        <!-- 上部第二部分开始 -->
        <div class='center2 main_top2'>
            <!--左侧-->
            <div class='main_top2_l l'>
                <div class='top2_l'>
                <!-- 缩略图 -->
                  <div class='thumb l'>
                    <img src='{CSS_PATH}hy/images/zw2.png' />
                    <div class='zz2'></div>
                    <p>谭晶亮相山西大剧院</p>
                  </div>
                  <div class='news l'>
                    <!-- 热点新闻开始 -->
                    <div class='hot'>
                    	{pc:content  action="position" posid="2" order="listorder DESC" num="1" return="info"}
                    	
                    	{loop $info $v}
                    <a href="{$v['url']}" target="__blank" title="{$v['title']}"{title_style($v[style])}>
                          <h3 class='hot_title'>{str_cut($v['title'],50)}</h3>
                          <p class='hot_desc'>
                            {str_cut($v['description'],100)} <span class='more'>查看详细 >></span>
                          </p>
                     </a>
                     {/loop}
            		  {/pc}  
                    </div>
                    <!-- 热点新闻结束 -->
                    <!-- 新新闻 -->
                    <ul class='new'>

             		 	{pc:content  action="lists"  catid="9" order="updatetime desc" num="5" return="data"}
             		 	{loop $data $v}
             		 	{php if($n!==1):}
                        <li>
                            <a href='{$v[url]}'><span class='news_title'>{str_cut($v['title'],50)}</span>
                            <span class='time'>{date("Y-m-d",$v[inputtime])}</span>
                            </a>
                        </li>
						{php endif;}
                        {/loop}
                       	{/pc}
                       
                    </ul>
                  </div>
                </div>
            </div>
            <div class='maing_top2_r l'>
              <div class='top2_r_h'>
                <a href='' class='login1'></a>
                <a href='' class='login2'></a>
                <a href='' class='login3'></a>
              </div>
              <!-- 微博同步开始 -->
              <div class='weibo l'>
                <img src='{CSS_PATH}hy/images/weibo_zw.png' />
              </div>
              <!-- 微博同步结束  -->
            </div>
        </div>
        <div class='c'></div>
    <!-- 广告位 -->
      <div class='gg'>
        <img src='{CSS_PATH}hy/images/zw4.png' />
      </div>
    </div>
    <!-- 首页上部分结束 -->
   <!--首页内容部分开始-->
    <div class='center2' id='main-body'>
    <!-- 首页排行榜开始 -->
      <!-- 周排行榜 -->
      <div class='week'>
	  <!--  -->
	  	{loop $week $n $v}
	         <ul class='week_{if $n==0}n{elseif $n==1}g{elseif $n==2}m{/if}'> 
	          <h1>{$v[title]}</h1>
	          <table cellspacing="0">
	                <thead>
	                    <tr>
	                    	<td class='td1'>名次</td>
	                    	<td class='td2'>歌曲</td>
	                    	<td class='td3'>歌手</td>
	                    	<td class='td4'>票数</td>
	                    	<td class='td5'>试听</td>
	                    </tr>
	               </thead>
	               <tbody>
	              
	               		{loop $v['data'] $k $d}
	             		<tr {if $n%2==0} class='tr2' {/if}>
	                    	<td class='td1'><span class='one num num{php echo $k+1}'></span></td>
	                    	<td class='td2'>{str_cut($d[music],18)}</td>
	                    	<td class='td3'>{$d[singer]}</td>
	                    	<td class='td4'>{$d[point]}</td>

	                    	<td class='td5'><a href='{APP_PATH}index.php?m=music&c=index&a=mp3&id={$d[mid]}' target='_blank'><b class='st'></b></a></td>
	                    </tr>
	              		  {/loop}
	              		  
	               </tbody>
	          </table>
	          	<div class='week_t'>
	          		<span>为您喜欢的歌曲投上一票吧</span>
	          		<a href='{APP_PATH}/index.php?m=music&c=index&a=vote'></a>
	          	</div>
	      	</ul>
	      	 {/loop}
      </div>
      <!-- 月排行榜 -->
      <div class='c'></div>
      <div class='month week'>
	      	<ul class='week_n'>
	          <h1>第201301期</h1>
	          <table cellspacing="0">
	                <thead>
	                    <tr>
	                    	<td class='td1'>名次</td>
	                    	<td class='td2'>歌曲</td>
	                    	<td class='td3'>歌手</td>
	                    	<td class='td4'>得分</td>
	                    	<td class='td5'>试听</td>
	                    </tr>
	               </thead>
	               <tbody>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                                        <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                                        <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                                        <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                                        <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                                        <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                                        <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='s1'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='os2'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	               </tbody>

	          </table>
	        </ul>
	        <ul class='week_g'>
	          <h1>第201301期</h1>
	          <table cellspacing="0">
	                <thead>
	                    <tr>
	                    	<td class='td1'>名次</td>
	                    	<td class='td2'>歌曲</td>
	                    	<td class='td3'>歌手</td>
	                    	<td class='td4'>得分</td>
	                    	<td class='td5'>试听</td>
	                    </tr>
	               </thead>
	               <tbody>
						<tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='s1'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='os2'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	               </tbody>
	          </table>
	        </ul>
	        <ul class='week_m'>
	          <h1>第201301期</h1>
	          <table cellspacing="0">
	                <thead>
	                    <tr><td>名次</td><td>歌曲</td><td>歌手</td><td>得分</td><td>试听</td></tr>
	               </thead>
						<tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='one'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='s1'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	                    <tr>
	                    	<td class='td1'><span class='os2'></span></td>
	                    	<td class='td2'>微日舞曲</td>
	                    	<td class='td3'>白若溪</td>
	                    	<td class='td4'>99</td>
	                    	<td class='td5'><b class='st'></b></td>
	                    </tr>
	               </tbody>

	          </table>
	        </ul>
      </div>
    <!-- 首页排行榜结束 -->
    <div class='c'></div>
    <!-- 新歌推荐开始-->
	    <div id='new_music'>
	    	<div class='n_m_h l'>
			    	<i class='n_m_l l'></i>		
			    	<h3 class='l'></h3>
			    	<i class='n_m_r l'></i>
			    	<div class='new_music_h l'></div>
	    	</div>
	    	<div class='c'></div>
	    	<div class='music_link'>
		    		<div class='music_link_l'>
		    			<i class='l'></i>
		    			<i class='l'></i>
		    		</div>
		    		<div class='music_link_r r'>
		    			<i class='l'></i>
		    			<i class='l'></i>
		    		</div>
	    	</div>
	    	<!-- 内地推荐 -->

	    </div>

	<!-- 新歌推荐结束--> 
	</div>

</div>
   
    <div class='c'></div>
<!--分类推荐开始 -->
<div class='music_tui center'>
			<!-- 内地 -->
			<div class='music_n'>
				<h3 class='l'></h3>
				<div class='center2 l'>
				<ul>

				{loop $pos_n['data'] $v}
					<li>
						<img src='{$v["thumb"]}' />
						<p class='music_name'><span><span>{$v['music']}</span></span><a taget="_blank" href='{APP_PATH}index.php?m=music&c=index&a=mp3&id={$v[mid]}'><b class='st'></b></a></p>
						<p class='singer'>{$v['singer']}</p>
						<i class='tp'></i>
					</li>
				{/loop}	
							
				</ul>
			</div>
			</div>
			<div class='center3'>
		 		<div class='music_link'>
				    		<div class='music_link_l'>
				    			<i class='l'></i>
				    			<i class='l'></i>
				    		</div>
				    		<div class='music_link_r r'>
				    			<i class='l'></i>
				    			<i class='l'></i>
				    		</div>
			    	</div>
		    </div>	
				<div class='c'></div>
				<!-- 港台新歌推荐 -->
		 		<div class='music_g'>
						<h3 class='l'></h3>
						<div class='center2 l'>
						<ul>
						
				{loop $pos_g['data'] $v}
					<li>
						<img src='{$v["thumb"]}' />
						<p class='music_name'><span><span>{$v['music']}</span></span><a target="_blank" href='{APP_PATH}index.php?m=music&c=index&a=mp3&id={$v[id]}'><b class='st'></b></a></p>
						<p class='singer'>{$v['singer']}</p>
						<i class='tp'></i>
					</li>
				{/loop}	
								
						</ul>
					</div>
				</div>
			<div class='center3'>	 
		 		<div class='music_link' style='top:-65px;'>
				    		<div class='music_link_l'>
				    			<i class='l'></i>
				    			<i class='l'></i>
				    		</div>
				    		<div class='music_link_r r'>
				    			<i class='l'></i>
				    			<i class='l'></i>
				    		</div>
			    	</div>
		    </div>	
		    <div class='c'></div>
		    <!-- 民歌新歌推荐 -->
			<div class='music_m'>
						<h3 class='l'></h3>
						<div class='center2 l'>
						<ul>
				{loop $pos_m['data'] $v}
					<li>
						<img src='{$v["thumb"]}' />
						<p class='music_name'><span><span>{$v['music']}</span></span><a target='_blank' href='{APP_PATH}index.php?m=music&c=index&a=mp3&id={$v[mid]}'><b class='st'></b></a></p>
						<p class='singer'>{$v['singer']}</p>
						<i class='tp'></i>
					</li>
				{/loop}	
									
						</ul>
			</div>
			</div>		
		 </div>
	<div class='c'></div>
<div class='main'>
	
	<div class='center2'>
	<!-- 视频推荐开始 -->
		<div id='video'>

			<h6><a href='{APP_PATH}index.php?m=content&c=index&a=lists&catid=42'>更多</a></h6>
			<ul class='l'>
			{pc:content  action="lists"  catid="42" order="updatetime desc" num="5" return="data"}
			{loop $data $v}

				<li>
				<a href='{$v[url]}'>
						<img src='{$v[thumb]}' />
						<p><b>{$v[title]}</b></p>
					</a>
				</li>
				{/loop}
				{/pc}
			</ul>
		</div>
	<!-- 视频推荐结束 -->
	<!-- 演出信息开始 -->
		<div id='messages' class='l'>
			<h6><a href='{APP_PATH}index.php?m=content&c=index&a=lists&catid=44'>更多</a></h6>
			<ul class='l'>
				{pc:content  action="lists"  catid="44" order="updatetime desc" num="3" return="data"moreinfo="1"}

				{loop $data $v}
				<li>
					<a href='{$v[url]}' title='{$v[title]}' target='_blank'>
						<img src='{$v[thumb]}' class='l' />
						<div class='message l'>
							
								<h3 class='message_title'>{str_cut($v[title],30)}</h3>
								<p class='message_desc'>{str_cut($v[content],100)}</p>
								<p><span>时间：</span>{date("Y-m-d",$v[showtime])}</p>
								<p><span>地点: </span>{$v[showplace]}</p>
								<p><span>购票地址: </span>{str_cut($v[showplaces],40)}</p>
							
						</div>
					</a>
				</li>
				{/loop}
				{/pc}
			
			</ul>
		</div>
	<!-- 演出信息结束 -->	
</div>
<div class='c'></div>
<!--首页内容结束-->
<!--引入尾部文件开始-->
{template "content","footer"}
<!--引入尾部结束-->
<!-- 页面结束 -->

        </div>
  
<script type="text/javascript"> 
$(function(){
	new slide("#main-slide","cur",310,260,1);//焦点图
	new SwapTab(".SwapTab","span",".tab-content","ul","fb");//排行TAB
})
</script>
