{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}hy/css/video.css">
<!--main-->
<div class="main center2 border" style='margin-top: 20px;'>

	<div class="content_title l" >
            <h2 class="l">视频推荐</h2>
            <span class="r">当前位置:<a href='{APP_PATH}'>首页</a>&gt;视频推荐</span>
       </div>
      <hr /> 
     <div class="list">  
    	{pc:content action="lists" catid="$catid" num="25" order="id DESC" page="$page"}
        <ul class="">
  
		{loop $data $r}
			<li>
				<a href="{$r[url]}" target="_blank"{title_style($r[style])}>
				<p><img src='{$r[thumb]}' width='171' height='171' /></p>
				<b>{$r[title]}</b></a></li>
		{/loop}
		        
		  </ul>       
		       <div id="pages" class="text-c">{$pages}</div> 
		{/pc}
	</div>	
</div>
    <div class="c"></div>
{template "content","footer"}