{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}hy/css/video.css">
<!--main-->
<div class="main center2 border concert">

	<div class="content_title l">
            <h2 class="l">演出信息</h2>
            <span class="r">当前位置:<a href='{APP_PATH}'>首页</a>&gt;演出信息</span>
       </div>
       <hr/>
	<div id='messages' class='l'>
			<ul class='l'>
				{pc:content action="lists" catid="$catid" num="15" order="id DESC" page="$page" moreinfo="1"}
				{loop $data $r}
				<li>
		<a href="{$r[url]}" target="_blank"{title_style($r[style])}>
				<img src='{$r[thumb]}'class='l' />
						<div class='message l'>
						
								<h3 class='message_title'>{$r[title]}</h3>
								<p><span>时间：</span>{$r[showtime]}</p>
								<p><span>地点: </span>{$r[showplaces]}</p>
								<p><span>地址: </span>{$r[showplace]}</p>
							</a>
						</div>
						
				</li>	
				{if $n%6==0}<li class="bk20 hr"></li>{/if}
				{/loop} 
			</ul>	
			<div id="pages" class="text-c">{$pages}</div> 
		{/pc}
	</div>		
</div>
    <div class="c"></div>
{template "content","footer"}