<title> 华语乐坛至尊榜- {L('member','','member').L('manage_center')}</title>
{template "content",'header'}

<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}table_form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}cookie.js"></script>
<script type="text/javascript" src="{JS_PATH}member_common.js"></script>
<script type="text/javascript" src="{JS_PATH}dialog.js"></script>
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
<script language="JavaScript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#username").formValidator({onshow:"{L('input').L('email')}",onfocus: "{L('between_6_to_20')}"}).inputValidator({min:6,max:20,onerror:"{L('between_6_to_20')}"}).regexValidator({regexp:"email",datatype:"enum",onerror:"{L('email').L('format_incorrect')}"});
	$("#password").formValidator({onshow:"{L('input').L('password')}",onfocus:"{L('password').L('between_6_to_20')}"}).inputValidator({min:6,max:20,onerror:"{L('password').L('between_6_to_20')}"});
	$(".login").hide();

});
//-->
</script>
<link href="{CSS_PATH}hy/css/about.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}dialog_simp.css" rel="stylesheet" type="text/css" />
</head>
<!-- 高校等登陆 -->
<div class="center2">	
<div class='login_page' id="login_sec">
	<h3 class='{if $_GET[mid]==23}h3_h{elseif $_GET[mid]==24}h3_m{elseif $_GET[mid]==25}h3_e{/if}'></h3>
	<form method="post" action="" onsubmit="save_username();" id="myform" name="myform">
		<div class='inputs'>
			<input type="hidden" name="forward" id="forward" value="{$forward}">
	    	<div class="input">
				<label>{L('emailName')}：</label><input type="text" id="username" name="username" size="22" class="input-text">
			</div>
	        <div class="input">
				<label>{L('password')}：</label><input type="password" id="password" name="password" size="22" class="input-text">
			</div>
	        <div class="input">
				<label style='padding-left:1em;'>{L('checkcode')}：</label><input type="text" id="code" name="code" size="8" class="input-text"style='margin-right:15px;'>{form::checkcode('code_img', '4', '14', 104, 33)}
			</div>

			<!-- <a href="index.php?m=member&c=index&a=public_forget_password&siteid={$siteid}" class="blue">{L('forgetpassword')}</a><br /> -->
					<div class="submit">
						<input type="submit" name="dosubmit" id="dosubmit"value='' />
					</div>

	</form>

</div>
</div>
<script language="JavaScript">
<!--

// 	$(function(){
// 		$('#username').focus();
// 	})

// 	function save_username() {
// 		if($('#cookietime').attr('checked')==true) {
// 			var username = $('#username').val();
// 			setcookie('username', username, 3);
// 		} else {
// 			delcookie('username');
// 		}
// 	}
// 	var username = getcookie('username');
// 	if(username != '' && username != null) {
// 		$('#username').val(username);
// 		$('#cookietime').attr('checked',true);
// 	}

// 	function show_login(site) {
// 		if(site == 'sina') {
// 			art.dialog({lock:false,title:'{L('sina_login')}',id:'protocoliframe', iframe:'index.php?m=member&c=index&a=public_sina_login',width:'500',height:'310',yesText:'{L('close')}'}, function(){
// 			});
// 		} else if(site == 'snda') {
// 			art.dialog({lock:false,title:'{L('snda_login')}',id:'protocoliframe', iframe:'index.php?m=member&c=index&a=public_snda_login',width:'500',height:'310',yesText:'{L('close')}'}, function(){
// 			});
// 		} else if(site == 'qq') {
// 			art.dialog({lock:false,title:'{L('qq_login')}',id:'protocoliframe', iframe:'index.php?m=member&c=index&a=public_qq_login',width:'500',height:'310',yesText:'{L('close')}'}, function(){
// 			});
// 		}
// 	}
// //-->
</script>
</div>
<div class="c"></div>
{template 'content', 'footer'}
</html>

